*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float::after{
  display: table;
  content: "";
  clear: both;
}

.container{
  width: 90%;
  margin: auto;
}

header{
  height: 200px;
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 10px;
}

aside{
  height: 300px;
  background-color: lightpink;
  float: left;
  width: 20%;
}

section{
  height: 300px;
  background-color: purple;
  float: left;
  width: 56%;
  margin: 0 2%;
}

#second-aside{
  background-color: white;
  float: left;
  width: 20%;
}

.subcontents{
  height: 180px;
  background-color: pink;
  margin-bottom: 10px;
}

footer{
  height: 100px;
  background-color: lightblue;
  margin-top: 10px;
}
